@model Vehicle_Management.Models.BaseViewModel
@{
    ViewData["Title"] = "Vehicle Management";
}

@if (User.IsInRole("Admin"))
{
    <div class="container-fluid">
        <!-- Page Heading -->
        <div class="d-sm-flex align-items-center justify-content-between mt-4 mb-4">
            <h1 class="h3 mb-0 text-gray-800">Dashboard</h1>
        </div>

        <!-- Content Row -->
        <div class="row">

            <!-- Total Users Card -->
            <div class="col-xl-3 col-md-6 mb-4">
                <div class="card border-left-primary shadow h-100 py-2">
                    <div class="card-body">
                        <div class="row no-gutters align-items-center">
                            <div class="col mr-2">
                                <div class="text-xs font-weight-bold text-primary text-uppercase mb-1">
                                    Total Users
                                </div>
                                <div class="h5 mb-0 font-weight-bold text-gray-800">@Model.TotalData.TotalUsers</div>
                            </div>
                            <div class="col-auto">
                                <i class="fas fa-calendar fa-2x text-gray-300"></i>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Total Vehicles Card -->
            <div class="col-xl-3 col-md-6 mb-4">
                <div class="card border-left-success shadow h-100 py-2">
                    <div class="card-body">
                        <div class="row no-gutters align-items-center">
                            <div class="col mr-2">
                                <div class="text-xs font-weight-bold text-success text-uppercase mb-1">
                                    Total Vehicles
                                </div>
                                <div class="h5 mb-0 font-weight-bold text-gray-800">@Model.TotalData.TotalVehicles</div>
                            </div>
                            <div class="col-auto">
                                <i class="fas fa-dollar-sign fa-2x text-gray-300"></i>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Total Requests Card -->
            <div class="col-xl-3 col-md-6 mb-4">
                <div class="card border-left-success shadow h-100 py-2">
                    <div class="card-body">
                        <div class="row no-gutters align-items-center">
                            <div class="col mr-2">
                                <div class="text-xs font-weight-bold text-success text-uppercase mb-1">
                                    Total Requests
                                </div>
                                <div class="h5 mb-0 font-weight-bold text-gray-800">@Model.TotalData.TotalRequests</div>
                            </div>
                            <div class="col-auto">
                                <i class="fas fa-dollar-sign fa-2x text-gray-300"></i>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Pending Requests Card Example -->
            <div class="col-xl-3 col-md-6 mb-4">
                <div class="card border-left-warning shadow h-100 py-2">
                    <div class="card-body">
                        <div class="row no-gutters align-items-center">
                            <div class="col mr-2">
                                <div class="text-xs font-weight-bold text-warning text-uppercase mb-1">
                                    Pending Requests
                                </div>
                                <div class="h5 mb-0 font-weight-bold text-gray-800">@Model.TotalData.PendingRequests</div>
                            </div>
                            <div class="col-auto">
                                <i class="fas fa-comments fa-2x text-gray-300"></i>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- Content Row -->

        <div class="row">

            <!-- Area Chart -->
            <div class="col-xl-8 col-lg-7">
                <div class="card shadow mb-4">
                    <!-- Card Header - Dropdown -->
                    <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                        <h6 class="m-0 font-weight-bold text-primary">Requests Overview</h6>
                    </div>
                    <!-- Card Body -->
                    <div class="card-body">
                        <div class="chart-area">
                            <canvas id="myAreaChart"></canvas>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Pie Chart -->
            <div class="col-xl-4 col-lg-5">
                <div class="card shadow mb-4">
                    <!-- Card Header - Dropdown -->
                    <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                        <h6 class="m-0 font-weight-bold text-primary">User Distribution</h6>
                    </div>
                    <!-- Card Body -->
                    <div class="card-body">
                        <div class="chart-pie pt-4 pb-2">
                            <canvas id="myPieChart"></canvas>
                        </div>
                        <div class="mt-4 text-center small">
                            <span class="mr-2">
                                <i class="fas fa-circle text-primary"></i> Admins
                            </span>
                            <span class="mr-2">
                                <i class="fas fa-circle text-success"></i> Employees
                            </span>
                            <span class="mr-2">
                                <i class="fas fa-circle text-info"></i> Drivers
                            </span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
}
@if (!User.Identity.IsAuthenticated)
{
    <div class="hero-wrap ftco-degree-bg" style="background-image: url('/img/bg_1.jpg');" data-stellar-background-ratio="0.5">
        <div class="overlay"></div>
        <div class="container">
            <div class="row no-gutters slider-text justify-content-start align-items-center justify-content-center">
                <div class="col-lg-8">
                    <div class="text w-100 text-center mb-md-5 pb-md-5">
                        <h1 class="mb-4">Welcome to Vehicle Management</h1>
                        <p style="font-size: 18px;">Request Vehicles Easily</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <section class="ftco-section ftco-no-pt bg-light">
        <div class="container">
            <div class="row no-gutters">
                <div class="col-md-12	featured-top">
                    <div class="row no-gutters">
                        <div class="col-md-4 d-flex align-items-center">
                            <form action="#" class="request-form bg-primary">
                                <h2>Make your trip</h2>
                                <div class="form-group">
                                    <label for="" class="label">Pick-up location</label>
                                    <input type="text" class="form-control" placeholder="City, Airport, Station, etc">
                                </div>
                                <div class="form-group">
                                    <label for="" class="label">Drop-off location</label>
                                    <input type="text" class="form-control" placeholder="City, Airport, Station, etc">
                                </div>
                                <div class="d-flex">
                                    <div class="form-group mr-2">
                                        <label for="" class="label">Pick-up Landmark</label>
                                        <input type="text" class="form-control" id="book_pick_date" placeholder="Tower, Mall, etc">
                                    </div>
                                    <div class="form-group ml-2">
                                        <label for="" class="label">Drop-off Landmark</label>
                                        <input type="text" class="form-control" id="book_off_date" placeholder="Tower, Mall, etc">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="" class="label">Pick-up Date</label>
                                    <input type="date" class="form-control" id="time_pick" placeholder="Date">
                                </div>
                                <div class="form-group">
                                    <label for="" class="label">Message</label>
                                    <textarea class="form-control" id="message" name="message" rows="2" cols="30" placeholder="Your Message"></textarea>
                                </div>
                                <div class="form-group">
                                    <a asp-area="Identity" asp-page="/Account/Login" class="btn btn-secondary py-3 px-4">Request A Vehicle Now</a>
                                </div>
                            </form>
                        </div>
                        <div class="col-md-8 d-flex align-items-center">
                            <div class="services-wrap rounded-right w-100">
                                <h3 class="heading-section mb-4">Request Vehicles</h3>
                                <div class="row d-flex mb-4">
                                    <div class="col-md-4 d-flex align-self-stretch ">
                                        <div class="services w-100 text-center">
                                            <div class="icon d-flex align-items-center justify-content-center"><span class="bi bi-geo-alt-fill"></span></div>
                                            <div class="text w-100">
                                                <h3 class="heading mb-2">Choose Your Pickup Location</h3>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-4 d-flex align-self-stretch ">
                                        <div class="services w-100 text-center">
                                            <div class="icon d-flex align-items-center justify-content-center"><span class="bi bi-car-front-fill"></span></div>
                                            <div class="text w-100">
                                                <h3 class="heading mb-2">Request Vehicles</h3>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-4 d-flex align-self-stretch ">
                                        <div class="services w-100 text-center">
                                            <div class="icon d-flex align-items-center justify-content-center"><span class="bi bi-shield-fill-check"></span></div>
                                            <div class="text w-100">
                                                <h3 class="heading mb-2">Wait for Admin Approval</h3>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <p><a asp-area="Identity" asp-page="/Account/Login" class="btn btn-primary py-3 px-4">Login</a></p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
}

<script>
    var dataMonthlyRequests = @Html.Raw(Json.Serialize(Model.TotalData?.TotalMonthlyRequests));
    var scriptMonthlyRequests = document.createElement('script');
    scriptMonthlyRequests.src = '~/js/demo/chart-area-demo.js';
    document.head.appendChild(scriptMonthlyRequests);

    var dataUserInRoleCount = @Html.Raw(Json.Serialize(Model.TotalData?.UserInRoleCounts));
    var scriptUserInRoleCount = document.createElement('script');
    scriptUserInRoleCount.src = '~/js/demo/chart-pie-demo.js';
    document.head.appendChild(scriptUserInRoleCount);
</script>
