@model Vehicle_Management.Models.BaseViewModel
@inject UserManager<UserManager> userManager
@{
    ViewData["Title"] = "Vehicle Table";
}
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="https://cdn.datatables.net/1.11.3/js/jquery.dataTables.min.js"></script>
<!-- Page Heading -->
@if (User.IsInRole("Admin"))
{
    <!-- Requests Table -->
    <div class="card shadow mb-4">
        <div class="card-header py-3">
            <div class="row">
                <div class="col">
                    <h4 class="m-0 font-weight-bold text-primary">Requests</h4>
                </div>
            </div>
            <ul class="nav nav-tabs nav-sm-justified" role="tablist">
                <li class="nav-item" role="presentation">
                    <button class="nav-link active" id="pending-tab" data-bs-toggle="tab" data-bs-target="#pending" type="button" role="tab" aria-controls="pending" aria-selected="true"><h6 class="m-0 font-weight-bold text-primary">Pending</h6></button>
                </li>
                <li class="nav-item" role="presentation">
                    <button class="nav-link" id="approved-tab" data-bs-toggle="tab" data-bs-target="#approved" type="button" role="tab" aria-controls="approved" aria-selected="false"><h6 class="m-0 font-weight-bold text-primary">Approved</h6></button>
                </li>
                <li class="nav-item" role="presentation">
                    <button class="nav-link" id="completed-tab" data-bs-toggle="tab" data-bs-target="#completed" type="button" role="tab" aria-controls="completed" aria-selected="false"><h6 class="m-0 font-weight-bold text-primary">Completed</h6></button>
                </li>
            </ul>
        </div>
        <div class="tab-content">
            <div class="tab-pane fade show active" id="pending" role="tabpanel" aria-labelledby="pending-tab">
                <div class="card-body">
                    <div class="table-responsive">
                        <table class="table table-bordered" id="dataTable1" width="100%" cellspacing="0">
                            <thead>
                                <tr>
                                    <th>Actions</th>
                                    <th class="text-center">Requested For</th>
                                    <th class="text-center">Pickup Location</th>
                                    <th class="text-center">Pickup Landmark</th>
                                    <th class="text-center">Drop Off Location</th>
                                    <th class="text-center">Drop Off Landmark</th>
                                    <th class="text-center">Requested On</th>
                                    <th class="text-center">Requested By</th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var request in Model.UserRequests)
                                {
                                    @if (!request.IsApproved && !request.IsCompleted)
                                    {
                                        <tr>
                                            <td class="text-center">
                                                <a asp-controller="Home" asp-action="ApproveRequest" asp-route-id="@request.Id"><i class="bi bi-check-lg" title="Approve Request" style="font-size: 25px; color: green;"></i></a>
                                                <br>
                                                <a href="" onclick="unapproveConfirmation(event,@request.Id);"><i class="bi bi-x" title="Unapprove Request" style="font-size: 30px; color: red;"></i></a>
                                            </td>
                                            <td class="text-center">@request.RequestedDate.ToString("yyyy-MM-dd")</td>
                                            <td class="text-center">@request.PickupPoint</td>
                                            <td class="text-center">@request.PickupPointLandmark</td>
                                            <td class="text-center">@request.DropPoint</td>
                                            <td class="text-center">@request.DropPointLandmark</td>
                                            <td class="text-center">@request.CreatedDate.ToString("yyyy-MM-dd")</td>
                                            @{
                                                var user = await userManager.FindByIdAsync(request.UserId);
                                            }
                                            <td class="text-center">@user.Name</td>
                                        </tr>
                                    }
                                }
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            <div class="tab-pane fade" id="approved" role="tabpanel" aria-labelledby="approved-tab">
                <div class="card-body">
                    <div class="table-responsive">
                        <table class="table table-bordered" id="dataTable2" width="100%" cellspacing="0">
                            <thead>
                                <tr>
                                    <th class="text-center">Requested For</th>
                                    <th class="text-center">Pickup Location</th>
                                    <th class="text-center">Pickup Landmark</th>
                                    <th class="text-center">Drop Off Location</th>
                                    <th class="text-center">Drop Off Landmark</th>
                                    <th class="text-center">Requested On</th>
                                    <th class="text-center">Requested By</th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var request in Model.UserRequests)
                                {
                                    @if (request.IsApproved && !request.IsCompleted)
                                    {
                                        <tr>
                                            <td class="text-center">@request.RequestedDate.ToString("yyyy-MM-dd")</td>
                                            <td class="text-center">@request.PickupPoint</td>
                                            <td class="text-center">@request.PickupPointLandmark</td>
                                            <td class="text-center">@request.DropPoint</td>
                                            <td class="text-center">@request.DropPointLandmark</td>
                                            <td class="text-center">@request.CreatedDate.ToString("yyyy-MM-dd")</td>
                                            @{
                                                var user = await userManager.FindByIdAsync(request.UserId);
                                            }
                                            <td class="text-center">@user.Name</td>
                                        </tr>
                                    }
                                }
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            <div class="tab-pane fade" id="completed" role="tabpanel" aria-labelledby="completed-tab">
                <div class="card-body">
                    <div class="table-responsive">
                        <table class="table table-bordered" id="dataTable3" width="100%" cellspacing="0">
                            <thead>
                                <tr>
                                    <th class="text-center">Requested For</th>
                                    <th class="text-center">Pickup Location</th>
                                    <th class="text-center">Pickup Landmark</th>
                                    <th class="text-center">Drop Off Location</th>
                                    <th class="text-center">Drop Off Landmark</th>
                                    <th class="text-center">Requested On</th>
                                    <th class="text-center">Requested By</th>
                                    <th class="text-center">Approved Status</th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var request in Model.UserRequests)
                                {
                                    @if (request.IsCompleted)
                                    {
                                        <tr>
                                            <td class="text-center">@request.RequestedDate.ToString("yyyy-MM-dd")</td>
                                            <td class="text-center">@request.PickupPoint</td>
                                            <td class="text-center">@request.PickupPointLandmark</td>
                                            <td class="text-center">@request.DropPoint</td>
                                            <td class="text-center">@request.DropPointLandmark</td>
                                            <td class="text-center">@request.CreatedDate.ToString("yyyy-MM-dd")</td>
                                            @{
                                                var user = await userManager.FindByIdAsync(request.UserId);
                                            }
                                            <td class="text-center">@user.Name</td>
                                            @if (request.IsUnapproved)
                                            {
                                                <td class="text-center">Unapproved</td>
                                            }
                                            @if (request.IsApproved)
                                            {
                                                <td class="text-center">Approved</td>
                                            }
                                            @if (request.IsCancelled)
                                            {
                                                <td class="text-center">Cancelled</td>
                                            }
                                        </tr>
                                    }
                                }
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Unapprove Popup Modal -->
    <div class="modal fade" id="unapproveConfirmationModal" tabindex="-1" aria-labelledby="unapproveConfirmationModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="unapproveConfirmationModalLabel">Unapprove Confirmation</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    Are you sure you want to unapprove this request? This action cannot be undone.
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
                    <a asp-controller="Home" asp-action="DeleteVehicle" id="unapproveButton" class="btn btn-danger">Unapprove</a>
                </div>
            </div>
        </div>
    </div>

    <script>
        $(document).ready(function () {
            $('#dataTable1').dataTable({
                "paging": true,
                "searching": true
            });
            $('#dataTable2').dataTable({
                "paging": true,
                "searching": true
            });
            $('#dataTable3').dataTable({
                "paging": true,
                "searching": true
            });
        });
    </script>

    <script>
        // Function to search table rows
        function searchTable() {
            var input, filter, table, tr, td, i, txtValue;
            input = document.getElementById("myInput");
            filter = input.value.toUpperCase();
            table = document.getElementById("myTable");
            tr = table.getElementsByTagName("tr");
            for (i = 0; i < tr.length; i++) {
                td = tr[i].getElementsByTagName("td")[0];
                if (td) {
                    txtValue = td.textContent || td.innerText;
                    if (txtValue.toUpperCase().indexOf(filter) > -1) {
                        tr[i].style.display = "";
                    } else {
                        tr[i].style.display = "none";
                    }
                }
            }
        }

        function unapproveConfirmation(event, id) {
            event.preventDefault();
            $('#unapproveConfirmationModal').modal('show');
            $('#unapproveButton').val(id);
            $('#unapproveButton').attr('href', '/Home/UnapproveRequest/' + id);
            return false;
        }
    </script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.0.2/js/bootstrap.bundle.min.js"></script>
}